.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    height: -webkit-fill-available;
}

.searchbar-container {
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px lightgrey;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    margin: 8px 0;
    overflow:auto;
    justify-content: flex-start;
}

.favoris-container {
    flex-grow: 4;
    border: solid 1px lightgrey;
    background-color: rgb(202, 224, 204, 0.5);
    
}
.totest-container {
    flex-grow: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px lightgrey;
    background-color: rgb(240, 219, 199,0.5);
}

.items {
    display: flex;
    background-color: lightgray;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 8px;
}

.title-category {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    width: 90%;
    border-bottom: solid 0.5px grey;
}