<div class="container">
  <div class="searchbar-container">
    <app-search-bar></app-search-bar>
  </div>
  <div class="favoris-container">
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
  </div>
  <div class="totest-container">
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
    <div class="items">1</div>
  </div>
</div>
